<mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Details</mat-card-title>
      <mat-card-subtitle>Transaction</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image height="100px" width="100px" src="https://ourbitcoinnews.sfo2.digitaloceanspaces.com/2020/06/03-Ransom.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
<!-- <div class="card"> -->
    <table class="table table-condensed">
        <tr>
            <td><h6>Previous Hash</h6></td>           <td>{{prevHash}}</td>
        </tr>
        <tr>
            <td><h6>Sender</h6></td>               <td>{{sender}}</td>
        </tr>
        <tr>
            <td><h6>Amount</h6></td>               <td>{{amount}}</td>
        </tr>
        <tr>
            <td><h6>Receiver</h6></td>              <td>{{receiver}}</td>
        </tr>
        <tr>
            <td><h6>Time</h6></td>               <td>{{time}}</td>
        </tr>
        <tr>
            <td><h6>Nonce</h6></td>              <td>{{nonce}}</td>
        </tr>
    </table>
<!-- </div> -->
</mat-card-content>
</mat-card>