<div class="card">
    <table class="table table-condensed">
        <tr>
            <td><h5>Previous Hash</h5></td>           <td>{{prevHash}}</td>
        </tr>
        <tr>
            <td><h5>Sender</h5></td>               <td>{{sender}}</td>
        </tr>
        <tr>
            <td><h5>Amount</h5></td>               <td>{{amount}}</td>
        </tr>
        <tr>
            <td><h5>Receiver</h5></td>              <td>{{receiver}}</td>
        </tr>
        <tr>
            <td><h5>Time</h5></td>               <td>{{time}}</td>
        </tr>
        <tr>
            <td><h5>Nonce</h5></td>              <td>{{nonce}}</td>
        </tr>
    </table>
</div>